# Python
__pycache__/
*.py[cod]
*.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
*.code-workspace

# Environment
.env
.venv
env/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db
